h1 {
  text-align: center;
  font-size: 2.5em; 
  margin-bottom: 20px; 
  color: #333; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  background-color: #f2f2f2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.pokemon h2 {
  margin-top: 0;
  font-size: 1.5em;
  text-transform: capitalize;
}

.pokemon p {
  font-size: 1.2em;
  color: #666;
}

.pokemon img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}


.pokemon button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

.save-btn {
  background-color: #a6e3a8;
  cursor: pointer;
  transition: font-size 0.3s;
  border-radius: 0.3s;
  border-radius: 20px;
}

.delete-btn {
  background-color: #f75d52;
  cursor: pointer;
  transition: font-size 0.3s;
  border-radius: 0.3s;
  border-radius: 20px;
}

.edit-btn {
  background-color: #9dbcc7;
  cursor: pointer;
  transition: font-size 0.3s;
  border-radius: 0.3s;
  border-radius: 20px;
}

.save-btn:hover,
.delete-btn:hover,
.edit-btn:hover {
  font-size: 1.2em; 
  cursor: pointer; 
}

.type-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.type-buttons-container button {
  margin: 0 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.type-buttons-container button:hover {
  background-color: #ccc;
}

#create-pokemon-form {
  display: flex;
  
  align-items: center;
  justify-content: center;
  width: 550px; /* Adjust width as needed */
  margin:  auto; /* Center horizontally */
  padding: 10px; /* Add padding for spacing */
  background-color: #f2f2f2; /* Background color */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

#create-pokemon-form input,
#create-pokemon-form button {
  margin-bottom: 10px; /* Add spacing between elements */
}

#create-pokemon-btn {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

#create-pokemon-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}



